

/*

styles for the number animation section

*/
.content1 {
    max-width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 30px 20px 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(8px, 1vw, 20px);
    margin-top: 00px;
}

.content1 div {
    display: flexbox;
    flex-direction: column ;
}

#banner {
 
    padding-bottom: 10px;
    grid-column: 1/9;
    grid-row: 1/13;
    position: relative;
    left: 80px;
    top: 20px;
}

#banner img {
    height: 50%;
    width: 40%;
    display:inline-block;
}

.content1 h1 {
    text-align: center;
    font-size: 46px;
    grid-column: 5/9;
    grid-row: 2/3;
}

.content1 h1 span {
    color: #3444c5;
}

#p-1 {
    font-weight: 530;
    line-height: 25px;
    position: relative;
    left: 16%;
    margin: auto;
    grid-column: 5/8;
    grid-row: 3/6;
    text-align: justify;
    
}

#p-2 {
    font-weight: 500;
    line-height: 25px;
    position: relative;
    left: 16%;
    margin: auto;
    grid-column: 5/8;
    text-align: justify;
    grid-row: 7 / 10;
}


#subhead1 {
    grid-column: 5/7;
    grid-row: 6/8;
    position: relative;
    left: 30%;
    width: 70%;
    top: 40%;
}

#subhead2 {
    grid-column: 7/9;
    grid-row: 6/8;
    position: relative;
    left: 7%;
    width: 70%;
    top: 40%;
}

#subhead3 {
    grid-column: 5/7;
    grid-row: 8/10;
    position: relative;
    left: 30%;
    width: 70%;
    top: 40%;
}

#subhead4 {
    grid-column: 7/9;
    grid-row: 8/10;
    position: relative;
    left: 7%;
    width: 70%;
    top: 40%;
}






.num-text {
    font-size: clamp(25px, 1vw, 28px);

    position: relative;
    width: 50%;
}

.text {
    font-size: clamp(22px, 1vw, 28px);
    grid-column: 1/3;
    font-size: clamp(13px, 1vw, 16px);
    color: #0a2d63;
    font-weight: 700;
    position: relative;
    bottom: 22%;
}

#num-text1 {
    position: relative;
    left: 30px;
    bottom: 30.8px;
}

#num-text2 {
    position: relative;
    left: 42px;
    bottom: 66px;
}

#text2 {
    grid-column: 1/4;
    grid-row: 2/3;
    position: relative;
    bottom: 60px;
}

#dot {
    position: relative;
    left: 18px;
    bottom: 32px;
}

#eight {
    position: absolute;
    left: 25px;
    bottom: 50px;
}




@media screen and (max-width: 768px) {

    .content1 {
        height: 100vh;
    max-width: 100vw;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(17, 1fr);
        padding: 30px 20px 10px 0px;
        font-family: "Montserrat", sans-serif;
        font-size: clamp(8px, 1vw, 20px);
    }

    .content1 div {
        display: flex;
        flex-direction: column;
    }

    #banner {
        grid-column: 1/9;
        grid-row: 1/10;
        position: relative;
        left: 8px;
        
    }

    #banner img {
        height: 100%;
        width: 100%;
    }

    .content1 h1 {
        text-align: left;
        font-size: clamp(25px, 4.1vw, 80px);
        grid-column: 1/9;
        grid-row: 10/11;
        position: relative;
        top: 10px;
        left: 8px;
        margin-top: 20px;
    }

    .content1 h1 span {
        color: #3444c5;
    }

    #p-1 {
        color: black;
        font-weight: 800;
        line-height: 25px;
        position: relative;
        left: 12px;
        margin: none;
        grid-column: 1/9;
        grid-row: 11/12;
        margin-top: 25px;
    }

    #p-2 {
        color: black;
        font-weight: 500;
        line-height: 25px;
        position: relative;
        left: 12px;
        margin: none;
        grid-column: 1/9;
        grid-row: 8 / 16;
    }

    #subhead1 {
        grid-column: 1/3;
        grid-row: 12/14;
        position: relative;
        left: 25%;
        width: 70%;
        top: 20%;
    }

    #subhead2 {
        grid-column: 5/7;
        grid-row: 12/14;
        position: relative;
        left: 7%;
        width: 70%;
        top: 20%;
    }

    #subhead3 {
        grid-column: 1/3;
        grid-row: 14/17;
        position: relative;
        left: 25%;
        width: 70%;
        top: 20%;
    }

    #subhead4 {
        grid-column: 5/7;
        grid-row: 14/17;
        position: relative;
        left: 7%;
        width: 70%;
        top: 20%;
    }

    .num {
        font-size: clamp(25px, 1vw, 28px);
        color: #3444c5;
        font-weight: 700;
        transition: 0.8s;
        width: 50%;
        position: relative;
        top: 18px;
    }

    .num2 {
        font-size: clamp(25px, 1vw, 28px);
        color: #3444c5;
        font-weight: 700;
        transition: 0.8s;
        width: 50%;
        position: relative;
        top: 18px;
    }

    .num-text {
        font-size: clamp(25px, 1vw, 28px);
        color: #3444c5;
        font-weight: 700;
        width: 50%;
    }

    .num-text {
        font-size: clamp(25px, 1vw, 28px);

        position: relative;
        width: 50%;
    }

    .text {
        font-size: clamp(22px, 1vw, 28px);
        grid-column: 1/3;
        font-size: clamp(13px, 1vw, 16px);
        color: black;
        font-weight: 700;
        position: relative;
        bottom: 22%;
    }

    #num-text1 {
        position: relative;
        left: 30px;
        bottom: 16.8px;
    }

    #num-text2 {
        position: relative;
        left: 42px;
        bottom: 54px;
    }

    #text2 {
        grid-column: 1/4;
        grid-row: 2/3;
        position: relative;
        bottom: 57px;
    }

    #dot {
        position: relative;
        left: 18px;
        bottom: 18px;
    }

    #eight {
        position: absolute;
        left: 25px;
        bottom: 60px;
    }

    #num-text3 {
        position: relative;
        left: 45px;
        bottom: 18px;
    }

    #text3 {
        position: relative;
    }

    #num-text4 {
        position: relative;
        left: 65px;
        bottom: 18px;
    }

    #text4 {
        position: relative;
    }
}
